a {
 text-decoration: none;
 color: #0000FF;
}
a:hover {
 border-bottom: 1px solid #FF00FF;
}
body {
 scrollbar-arrow-color: #0000FF;
 scrollbar-base-color: #FFFFFF;
 scrollbar-face-color: #FFFFFF;
 scrollbar-highlight-color: #000066;
 scrollbar-3dlight-color: #0000FF;
 scrollbar-shadow-color: #000066;
 scrollbar-darkshadow-color: #000033;
 scrollbar-track-color: #FFFFFF;
}
hr {
 color: #000000;
}
.title {
 font-family: Arial, Helvetica, Times New Roman;
 font-size: 40;
 color: #000000;
}
.sub {
 font-family: Verdana, Arial, Times New Roman;
 font-size: 14;
 color: #000000;
}
.font {
 font-family: Verdana,Arial;
 font-size: 12;
 text-align: justified;
}
.main {
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 border-bottom: 1px solid #000000;
}
.header {
 font-family: Verdana,Arial;
 font-size: 14;
 color: #FF0000;
}
.code {
 align: center;
 width: 85%;
 border: 1px dashed #999999;
 font-family: Courier New;
 font-size: 12;
 color: #000066;
}